<div class="container-fluid  w-100 p-0 m-0">
  <div class="row darkBg min-vh-100">
    <div class="col d-flex justify-content-center align-items-center">
      <h1 class="text-white">Hello world.</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center mdBg min-vh-100">
    <div class="col col-lg-6 col-sm-12 p-5 ">
      <div class="container text-white">
        <div class="row">
          <div class="col col-sm-12">
            <h4>
              I'm Jeroen,<br>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12 text-end">
            <h5>
              a full-stack developer<br> in Angular and Spring boot,
              with a Front end preference!<br></h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12">
            <h5>I worked for the Belgian justice department,<br>
              department of economy
              and currently for the department of defense.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12 text-end">
            <h6>
              But I also like to draw ;)</h6>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h6>Languages</h6>
            <ul>
              <li>
                <p>HTML</p>
              </li>
              <li>
                <p>CSS - SCSS</p>
              </li>
              <li>
                <p>Javascript - Typescript</p>
              </li>
              <li>
                <p>Java</p>
              </li>
              <li>
                <p>SQL - No-SQL</p>
              </li>
              <li>
                <p>JSON - YAML</p>
              </li>
              <li>
                <p>XML - XSL</p>
              </li>
              <li>
                <p>Git</p>
              </li>
            </ul>
            <div>
              <h6>Other tools</h6>
              <ul>
                <li>
                  <p>Adobe Photoshop</p>
                </li>
                <li>
                  <p>Adobe Illustrator</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <h6>Dev tools</h6>
            <ul>
              <li>
                <p>IntelliJ IDEA</p>
              </li>
              <li>
                <p>Visual Studio Code</p>
              </li>
              <li>
                <p>Postman</p>
              </li>
              <li>
                <p>SQL Developer</p>
              </li>
              <li>
                <p>DBeaver</p>
              </li>
              <li>
                <p>Maven</p>
              </li>
              <li>
                <p>NPM</p>
              </li>
              <li>
                <p>Angular</p>
              </li>
              <li>
                <p>Springboot / Spring</p>
              </li>
              <li>
                <p>Angular Materials</p>
              </li>
              <li>
                <p>Bootstrap | ngBootstrap</p>
              </li>
              <li>
                <p>Prime Ng</p>
              </li>
              <li>
                <p>Materialize CSS</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li>
                Defence (Belgian gov)
                <ul>
                  <li>DG MR - MGT-G - Business Intelligence <span class="small ms-2">[ current ]</span>
                    <span class="small"> | Full-stack developer (web reports)</span></li>
                </ul>
              </li>
              <li>Egov Select
                <ul>
                  <li>FPS ECONOMY (Belgian gov)
                    <span class="small"> | Full-stack developer (but mostly frontend)</span>
                  </li>
                  <li>
                    FPS JUSTICE (Belgian gov)
                    <span class="small"> | Frontend developer</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row lightBg min-vh-100">
    <div class="col d-flex justify-content-center align-items-center">
      <ul class="nav nav-pills nav-fill flex-column">
        <li class=" nav-item">
          <a class="nav-link w-100" href="https://www.linkedin.com/in/jeroensmissaert/" target="_blank" rel="noopener">
            LinkedIn
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link w-100" href="https://www.fiverr.com/s/YR90rwl" target="_blank" rel="noopener">Fiverr</a>
        </li>
      </ul>


    </div>
  </div>
</div>
