<div class="container-fluid  w-100 p-0 m-0">
  <div class="row darkBg min-vh-100">
    <div class="col d-flex justify-content-center align-items-center">
      <h1 class="text-white">Hello world.</h1>
    </div>
  </div>
  <div class="row mdBg min-vh-100">
    <div class="col p-5 d-flex justify-content-center align-items-center">
      <div class="container w-50 darkColor">
        <div class="row">
          <div class="col">
            <h4 class="darkColor">
              I'm Jeroen,<br>
              a full-stack developer in Angular and Spring boot, </h4>
          </div>
        </div>
        <div class="row">
          <div class="col text-end">
            <h5> but actually...  I'm more of a front end developer <br>
              who also likes to design and draw.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row lightBg min-vh-100">
    <div class="col d-flex justify-content-center align-items-center">
      <ul class="nav nav-pills nav-fill flex-column">
        <li class=" nav-item">
            <a class="nav-link w-100" href="https://www.linkedin.com/in/jeroensmissaert/" target="_blank" rel="noopener">
              LinkedIn
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link w-100" href="https://www.fiverr.com/s/YR90rwl"  target="_blank" rel="noopener">Fiverr</a>
        </li>
      </ul>


    </div>
  </div>
</div>
